<h1>Lista de productos</h1>

<ul>
    <li>
        <a href="./realTimeProducts">Tiempo Real</a>
    </li>
    <li>
        <a href="./form">Cargar</a>
    </li>
</ul>

<div>
    <div style="display: flex; flex-wrap: wrap">
        {{#each products}}
        {{#if status}}
        <div
            style="border-radius: 5px; background-color: white; width: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 5px">
            <div>
                {{title}} - {{category}}
            </div>
            <div>
                <img src={{thumbnail}} alt="img - {{thumbnail}}">
            </div>
            <p>{{description}}</p>
            <div>
                <p>Precio: {{price}} - Stock: {{stock}}</p>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>