<div>
    <h1>Lista de productos de {{name}}</h1>
    <div style="display: flex; flex-wrap: wrap">
    {{!-- <ul> --}}
        {{#each products}}
        {{!-- <li> --}}
            <div style="border-radius: 5px; background-color: white; width: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 5px">
                <div>
                    {{title}} - {{category}}
                </div>
                <div>
                    <img src={{thumbnail}} alt="img - {{thumbnail}}">
                </div>
                <p>{{description}}</p>
                <div>
                    <p>Precio: {{price}} - Stock: {{stock}}</p>
                </div>
            </div>
        {{!-- </li> --}}
        {{/each}}
    {{!-- </ul> --}}
    </div>
</div>